<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Luma">
  <test thread-count="5" name="Test">

    <classes>
		  <class name="com.luma.Testcase.IndexPageTest"/>
		   <class name="com.luma.Testcase.HomePageTest"/>
      <class name="com.luma.Testcase.LoginPageTest"/>
      <class name="com.luma.Testcase.SearchResultPageTest"/>
      <class name="com.luma.Testcase.shopingcarttest"/>
      <class name="com.luma.Testcase.addtocartpageTest"/>
      <class name="com.luma.Testcase.AccountcreatiobtestClass"/>
   <class name="com.luma.Testcase.shopingcarttest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Luma -->
